* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Whitney';
    src: url(fonts/Whitney-Medium.otf);
    font-weight: regular;
}

img {
    object-fit: fill;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}


#millones{
    font-size: 45pt ;
    font-family: 'Whitney', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
    left: 5%;
    top: 28%;
    right: 2%;
    position: absolute;
}

/* 800x420 */
@media only screen and (max-width: 800px) {
    /* .pozo {
        font-size: 62pt;
        font-family: 'Whitney', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #EB1C24;
        position: absolute;
        z-index: 10;
        left: 20%;
        right: 2%;
        top: 55%;
    } */

    #millones{
        font-size: 31pt!important;
        font-family: 'Whitney', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #000;
        left: 7%;
        top: 28%;
        right: 8%;
        position: absolute;
    }
}

/* 768x384 */
@media only screen and (max-width: 768px) {
    #title1{
        font-size: 28pt!important;
        font-family: 'Whitney', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #000;
        left: 8%;
        top: 27%;
        position: absolute;
    }
}

/* 720x360 */
@media only screen and (max-width: 720px) {
    #millones{
        font-size: 26pt!important;
        font-family: 'Whitney', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #000;
        left: 5%;
        top: 27%;
        position: absolute;
    }
}